m-tawkto{
  .iframe-holder-tawkto {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    iframe {
      margin-top:-52px; 
      height: ~"calc(100% + 52px)";
      width: 100vw;
      display: block;
      overflow: hidden;
    }
  }
   
  .iframe-issue {
    -webkit-overflow-scrolling: touch !important;
    overflow: scroll !important;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}
